<%= render 'docs/ui/sidebar' %>

<article>
  <h3>字体</h3>

  <h4>字体类型</h4>

  <p><code>"Helvetica Neue", "PingFang SC", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif</code></p>

  <h4>字体大小</h4>

  <ul>
    <li><span class='large'>大号字体</span></li>
    <li>普通字体</li>
    <li><span class="small">小号字体</span></li>
    <li><span class="x-small">加小号字体</span></li>
  </ul>

  <h3>颜色</h3>

  <ul class="color-list">
    <li>
      <span class="color" style="background: #55bb33;"></span>
      <code class="variable">$ui-color</code>
      <span class="value">#55bb33</span>
    </li>
    <li>
      <span class="color" style="background: #ffffff;"></span>
      <code class="variable">$white-color</code>
      <span class="value">#ffffff</span>
    </li>
    <li>
      <span class="color" style="background: #4a4a4a;"></span>
      <code class="variable">$grey-color</code>
      <span class="value">#4a4a4a</span>
    </li>
    <li>
      <span class="color" style="background: #000000;"></span>
      <code class="variable">$black-color</code>
      <span class="value">#000000</span>
    </li>
    <li>
      <span class="color" style="background: #ff7755;"></span>
      <code class="variable">$red-color</code>
      <span class="value">#ff7755</span>
    </li>
    <li>
      <span class="color" style="background: #ffaa00;"></span>
      <code class="variable">$orange-color</code>
      <span class="value">#ffaa00</span>
    </li>
    <li>
      <span class="color" style="background: #55bb33;"></span>
      <code class="variable">$green-color</code>
      <span class="value">#55bb33</span>
    </li>
    <li>
      <span class="color" style="background: #22bbff;"></span>
      <code class="variable">$blue-color</code>
      <span class="value">#22bbff</span>
    </li>
    <li>
      <span class="color" style="background: #666666;"></span>
      <code class="variable">$light-grey-color</code>
      <span class="value">#666666</span>
    </li>
    <li>
      <span class="color" style="background: #9b9b9b;"></span>
      <code class="variable">$lighter-grey-color</code>
      <span class="value">#9b9b9b</span>
    </li>
    <li>
      <span class="color" style="background: #cccccc;"></span>
      <code class="variable">$lightest-grey-color</code>
      <span class="value">#cccccc</span>
    </li>
    <li>
      <span class="color" style="background: #f6f6f6;"></span>
      <code class="variable">$grey-bg-color</code>
      <span class="value">#f6f6f6</span>
    </li>
    <li>
      <span class="color" style="background: #f5fdf3;"></span>
      <code class="variable">$green-bg-color</code>
      <span class="value">#f5fdf3</span>
    </li>
    <li>
      <span class="color" style="background: #f5f9ff;"></span>
      <code class="variable">$blue-bg-color</code>
      <span class="value">#f5f9ff</span>
    </li>
    <li>
      <span class="color" style="background: #fffcf7;"></span>
      <code class="variable">$orange-bg-color</code>
      <span class="value">#fffcf7</span>
    </li>
    <li>
      <span class="color" style="background: #ffeee6;"></span>
      <code class="variable">$red-bg-color</code>
      <span class="value">#ffeee6</span>
    </li>
    <li>
      <span class="color" style="background: #dfdfdf;"></span>
      <code class="variable">$border-color/$line-color</code>
      <span class="value">#dfdfdf</span>
    </li>
    <li>
      <span class="color" style="background: #eeeeee;"></span>
      <code class="variable">$light-border-color/$light-line-color</code>
      <span class="value">#eeeeee</span>
    </li>
    <li>
      <span class="color" style="background: #f3f3f3;"></span>
      <code class="variable">$lighter-border-color/$lighter-line-color</code>
      <span class="value">#f3f3f3</span>
    </li>
  </ul>

  <h3>标题</h3>

  <div class="example">

<pre><code class="html"><%= %Q(\
<h1>一号标题</h1>
<h2>二号标题</h2>
<h3>三号标题</h3>
<h4>四号标题</h4>
<h5>五号标题</h5>
<h6>六号标题</h6>
) %></code></pre>

    <div class="demo">
      <h1>一号标题</h1>
      <h2>二号标题</h2>
      <h3>三号标题</h3>
      <h4>四号标题</h4>
      <h5>五号标题</h5>
      <h6>六号标题</h6>
    </div>
  </div>

  <h3>链接</h3>


  <div class="example">
<pre><code class="erb"><%= %Q(\
\<%= link_to "普通链接", '#' %\>、
\<%= link_to '警告链接', '#', class: 'warn' %\>、
\<%= link_to '禁用状态', '#', class: 'disabled' %\>
) %></code></pre>

    <div class="demo">
      <%= link_to "普通链接", '#' %>、
      <%= link_to '警告链接', '#', class: 'warn' %>、
      <%= link_to '禁用状态', '#', class: 'disabled' %>
    </div>
  </div>

  <h3>列表</h3>

  <div class="example">
<pre><code class="erb"><%= %Q(\
<ul>
  <li>
    列表项 1
    <ol>
      <li>列表项 1</li>
      <li>列表项 2</li>
      <li>列表项 3</li>
    </ol>
  </li>
  <li>列表项 2</li>
  <li>列表项 3</li>
</ul>
) %></code></pre>

    <div class="demo">
      <ul>
        <li>
          列表项 1
          <ol>
            <li>列表项 1</li>
            <li>列表项 2</li>
            <li>列表项 3</li>
          </ol>
        </li>
        <li>列表项 2</li>
        <li>列表项 3</li>
      </ul>
    </div>
  </div>

  <h3>代码</h3>

  <div class="example">
<pre><code class="erb"><%= %Q(\
行内代码： <code>test()</code>、键盘按键： <kbd><kbd>Cmd</kbd> + <kbd>C</kbd></kbd>
) %></code></pre>

    <div class="demo">
      行内代码： <code>test()</code>、键盘按键： <kbd><kbd>Cmd</kbd> + <kbd>C</kbd></kbd>
    </div>
  </div>

  <div class="example">
<pre><code class="erb"><%= %Q(\
<pre><code class="coffee">\<%= %Q(\\
class TodoItem extends TaoComponent

@tag 'tao-todo-item'

@attribute 'completed', type: 'boolean', default: false

TaoComponent.register TodoItem
) %\></code></pre>
) %></code></pre>

    <div class="demo">
<pre><code class="coffee"><%= %Q(\
class TodoItem extends TaoComponent

  @tag 'tao-todo-item'

  @attribute 'completed', type: 'boolean', default: false

TaoComponent.register TodoItem
) %></code></pre>
    </div>
  </div>


  <h3>引用</h3>

  <div class="example">
<pre><code class="erb"><%= %Q(\
<blockquote>
  <p>知人，智能人力资源管理专家</p>
</blockquote>
) %></code></pre>

    <div class="demo">
      <blockquote>
        <p>知人，智能人力资源管理专家</p>
      </blockquote>
    </div>
  </div>


  <h3>表格</h3>

  <div class="example">
<pre><code class="erb"><%= %Q(\
<table class="table">
  <thead>
    <tr>
      <th>姓名</th>
      <th>工号</th>
      <th>部门</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>多发</td>
      <td>001</td>
      <td>知人</td>
    </tr>
    <tr>
      <td>小五</td>
      <td>002</td>
      <td>知人</td>
    </tr>
    <tr>
      <td>仁波切</td>
      <td>003</td>
      <td>知人</td>
    </tr>
  </tbody>
</table>
) %></code></pre>

    <div class="demo <%= 'without-padding' if request.variant.mobile? %>">
      <table class="table">
        <thead>
          <tr>
            <th>姓名</th>
            <th>工号</th>
            <th>部门</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>多发</td>
            <td>001</td>
            <td>知人</td>
          </tr>
          <tr>
            <td>小五</td>
            <td>002</td>
            <td>知人</td>
          </tr>
          <tr>
            <td>仁波切</td>
            <td>003</td>
            <td>知人</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</article>
