<%= render 'docs/ui/sidebar' %>

<article>
  <h3>渲染图标</h3>

  <p>Tao UI 使用 inline SVG 图标，可以使用 Icon Component 提供的 helper 方法添加图标： </p>

<pre><code class="erb"><%= %Q(\
<%= tao_icon :edit %\>
) %></code></pre>

  <p>上面的代码会生成这样的 HTML：</p>

<pre><code class="erb"><%= %Q(\
<svg class="icon icon-edit"><use xlink:href="#icon-edit"/></svg>
) %></code></pre>

  <h3>编译图标</h3>

  <p>上面 <code>#icon-edit</code> 引用的 inline SVG symbol 是在 <code>turbolinks:load</code> 的时候通过脚本插入页面的：</p>

<pre><code class="coffee"><%= %Q(\
Tao.Application.initializer 'icons', (app) ->
  app.on 'page-load', (page) ->
    return if $('#tao-icons').length > 0
    document.body.insertAdjacentHTML 'afterbegin', """
    <svg id="tao-icons" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none">
      \#{Tao._icons}
    </svg>
    """
) %></code></pre>

  <p>Tao UI 提供了一个 generator 可以将项目需要的自定义 inline SVG symbol 编译到脚本里面：</p>

<pre><code class="bash"><%= %Q(\
rails g tao:icons app
) %></code></pre>

  <p>上面的命令会把 <code>app/assets/icons</code> 和 <code>lib/assets/icons</code> 里面的 SVG 源文件编译到 <code>lib/assets/javascripts/tao/ui/icons/app.coffee</code> 里面，注意你需要手动 require 这个文件。</p>

  <p class="tips"><b>Tips:</b>推荐使用 Sketch 批量导出图标的 SVG 文件到相关目录</p>

  <h3>多个图标文件</h3>

  <p>有时候我们需要根据业务场景加载不同的图标文件，比如同一个网站的桌面端和移动端可能需要加载不同图标。</p>

  <p>Tao UI 的 icon generator 提供了一个 <code>paths</code> 选项，用来指定 SVG 源文件的路径，所以我们只需要把 SVG 源文件拆分到不同的文件夹中，比如 <code>app/assets/icons/desktop</code> 和 <code>app/assets/icons/mobile</code>，然后使用 generator 生成两个图标文件：</p>

<pre><code class="bash"><%= %Q(\
rails g tao:icons desktop --paths=app/assets/icons/desktop
rails g tao:icons mobile --paths=app/assets/icons/mobile\
) %></code></pre>

  <p>最后，在桌面端和移动端的 assets package 里面分别 require 这两个图标文件就可以了。</p>

  <h3>图标列表</h3>

  <p>Tao UI 默认提供了下面这些图标：</p>

  <div class="default-icons">
    <div class="icon-example">
      <div class="wrapper">
        <%= tao_icon :loading, class: 'spin' %>
      </div>
      <div class="name">loading</div>
    </div>
    <div class="icon-example">
      <div class="wrapper">
        <%= tao_icon :close %>
      </div>
      <div class="name">close</div>
    </div>
  </div>

  <p class="tips"><b>Tips:</b>你可以在自己的项目里自定义上面的图标，只需要将对应的图标编译到 <code>lib/assets/javascripts/tao/ui/icons/base.coffee</code> 文件里。</p>

</article>
