<%= render 'docs/ui/sidebar' %>

<article>
  <h3>Slide Box</h3>

  <p>
    <%= link_to "从下到上", 'javascript:;', class: 'button button-slide-box-1' %>
  </p>
  <%= tao_slide_box direction: 'btt', size: 150, trigger_selector: '.button-slide-box-1', click_auto_hide: true do %>
    <!-- content -->
  <% end %>

  <p>
    <%= link_to "从上到下", 'javascript:;', class: 'button button-slide-box-2' %>
  </p>
  <%= tao_slide_box direction: 'ttb', size: 150, trigger_selector: '.button-slide-box-2', click_auto_hide: true do %>
    <!-- content -->
  <% end %>

  <p>
    <%= link_to "从左到右", 'javascript:;', class: 'button button-slide-box-3' %>
  </p>
  <%= tao_slide_box direction: 'ltr', size: '50%', trigger_selector: '.button-slide-box-3', click_auto_hide: true do %>
    <!-- content -->
  <% end %>

  <p>
    <%= link_to "从右到左", 'javascript:;', class: 'button button-slide-box-4' %>
  </p>
  <%= tao_slide_box direction: 'rtl', size: '50%', trigger_selector: '.button-slide-box-4', click_auto_hide: true do %>
    <!-- content -->
  <% end %>

</article>
