<%= render 'docs/ui/sidebar' %>

<article>

  <p>Slide Box 是基于 Tao Component 的滑动容器组件。</p>

  <h3>用法</h3>

  <div class="example">

<pre><code class="erb"><%= %Q(\
\<%= link_to "从左到右", 'javascript:;', class: 'button button-slide-box-3' %\>

\<%= tao_slide_box direction: 'ltr', size: '50%', trigger_selector: '.button-slide-box-3', auto_hide: true do %\>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie tempor ex, sit amet scelerisque lorem viverra et. Praesent id condimentum dui. Nam porta odio bibendum orci porta, eu euismod ipsum accumsan. Cras dignissim, urna a auctor scelerisque, eros ex tincidunt justo, condimentum blandit mi ante quis nulla. Vestibulum tortor enim, porta ut volutpat cursus, efficitur in justo. Fusce varius ante orci, eget malesuada sem rhoncus eget.</p>
<\% end %\>
) %></code></pre>

    <div class="demo">
      <%= link_to "从左到右", 'javascript:;', class: 'button button-slide-box-3' %>

      <%= tao_slide_box direction: 'ltr', size: '50%', trigger_selector: '.button-slide-box-3', auto_hide: true do %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie tempor ex, sit amet scelerisque lorem viverra et. Praesent id condimentum dui. Nam porta odio bibendum orci porta, eu euismod ipsum accumsan. Cras dignissim, urna a auctor scelerisque, eros ex tincidunt justo, condimentum blandit mi ante quis nulla. Vestibulum tortor enim, porta ut volutpat cursus, efficitur in justo. Fusce varius ante orci, eget malesuada sem rhoncus eget.</p>
      <% end %>
    </div>
  </div>

  <h3>初始化选项</h3>

  <%= tao_api_item name: 'active', tags: ['Boolean', 'Default: false'] do %>
    <p>指定 Slide Box 的显示状态，切换显示状态的时候会有 transition 动画。</p>
  <% end %>

  <%= tao_api_item name: 'with_close_button', tags: ['Boolean', 'Default: false'] do %>
    <p>指定是否在 Slide Box 里显示关闭链接。</p>
  <% end %>

  <%= tao_api_item name: 'auto_hide', tags: ['Boolean', 'Default: false'] do %>
    <p>在 Slide Box 处于显示状态的时候，是否允许 Slide Box 以外的点击操作自动关闭 Slide Box。</p>
  <% end %>

  <%= tao_api_item name: 'auto_destroy', tags: ['Boolean', 'Default: false'] do %>
    <p>是否在关闭 Slide Box 的时候自动移除组件。</p>
  <% end %>

  <%= tao_api_item name: 'trigger_selector', tags: ['String', 'CSS selector', 'Default: ""'] do %>
    <p>通过 CSS Selector 指定一个元素（通常是一个按钮或者链接），当点击这个元素的时候会切换 Slide Box 的显示／隐藏状态。</p>
  <% end %>

  <%= tao_api_item name: 'trigger_traversal', tags: ['String', 'jQuery traversing method', 'Default: ""'] do %>
    <p>配合 <code>trigger_selector</code> 属性来使用，通过指定的 jQuery traversing method（例如：next、prev等）来寻找 trigger 元素。默认会从整个 DOM 树中寻找 trigger 元素。</p>
  <% end %>

  <%= tao_api_item name: 'direction', tags: ['String', 'btt / ttb / ltr / rtl', 'Default: btt'] do %>
    <p>指定 Slide Box 滑动的方向，支持从下到上（btt）、从上到下（ttb）、从左到右（ltr）和从右到左（rtl）四个方向。</p>
  <% end %>

  <%= tao_api_item name: 'size', tags: ['String / Number', 'CSS length value'] do %>
    <p>指定 Slide Box 的大小，支持所有的 CSS 长度（包括百分比）。注意，如果 size 是小于0的数字，那么 Slide Box 的大小会被设置为 <code>window width/height + size(px)</code></p>
  <% end %>

  <h3>公共方法</h3>

  <%= tao_api_item name: 'remove', params: [], tags: ['Return: self'] do %>
    <p>从 DOM 树中移除 Slide Box 组件。</p>
  <% end %>

  <h3>事件</h3>

  <%= tao_api_item name: 'tao:show' do %>
    <p>Slide Box 显示之后触发。</p>
  <% end %>

  <%= tao_api_item name: 'tao:hide' do %>
    <p>Slide Box 隐藏之后触发。</p>
  <% end %>

  <%= tao_api_item name: 'tao:beforeRemove' do %>
    <p>从 DOM 树中移除 Slide Box 之前触发。</p>
  <% end %>

  <%= tao_api_item name: 'tao:remove' do %>
    <p>从 DOM 树中移除 Slide Box 之后触发。</p>
  <% end %>

</article>
