<%= tao_mobile_header do %>
  <header>
    <div class="title">
      <h1><%= t :tao %></h1>
      <p class="desc"><%= t :slogan %></p>
    </div>

    <%= link_to 'javascript:;', class: 'link-nav' do %>
      <%= tao_icon :menu %>
    <% end %>
  </header>

  <nav>
    <%= link_to t('.home'), root_path, class: controller_path =~ /home/ ? 'active' : '' %>
    <%= link_to t('.docs'), docs_path, class: controller_path =~ /docs/ ? 'active' : '' %>
    <%= link_to t('.contribution'), '#' %>
    <%= link_to t('.team'), '#' %>
  </nav>
<% end %>
