<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no"/>

    <title><%= content_for(:title) || "#{t :tao} - #{t :slogan}" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'mobile', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= include_gon %>

    <%= javascript_pack_tag 'manifest', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vendor', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'mobile', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_tag 'div', layout: 'default', class: ['page', "#{page_id}-page", @page_class.presence].compact do %>
      <%= render 'layouts/header' %>
      <main>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
